.col-sm-4,.modal-image{
	margin-bottom:20px
}

.col-sm-2 img,.col-sm-4{
	cursor:pointer
}


.tab-content{
	display:none
}

.tab-content.current{
	display:inherit
}

#ajax-loader,#myNewsTitle,#tab-2{
	display:none
}

#popular0,#popular1{
	border-left-style:outset
}

.navCurrent{
	background-color:#D2D2CE
}

#search{
	padding-top:10px
}

.box.panel.panel-default{
	text-align:center;
	width:50%;
	margin:auto auto 20px
}
#searchImg{
	overflow:hidden
}

#submit{
	margin-bottom:10px
}

.container-fluid.myNews{
	border-style:outset;
	margin-bottom:15px;
	margin-left:60px!important;
	margin-right:60px!important;
	cursor: move;
}

#ajax-loader{
	text-align:center
}

#myNewsTitle{
	margin-left:60px
}
#myNewsTitle h1{
	display:inline
}

#myNewsTitle button{
	float:right;
	margin-right:60px
}

.showMore{
	display: none;
}

#more{
	text-align:center;
	border-style: dotted;
	cursor: pointer;
	width: 50%;
	margin: auto;
}