.col-sm-4{
	margin-bottom: 20px;
}

.col-sm-4,.col-sm-2 img{
	cursor: pointer;
}

#newsItems{
	margin-left: 60px!important;
	margin-right: 60px!important;
}

.modal-image{
	margin-bottom: 20px;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}

#popular0, #popular1{
	border-left-style: outset;
}

.navCurrent{
	background-color: #D2D2CE;
}